<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3Lnv40MAOtWxf3LgOyQImwVEFa_0k6Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>780658103488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chefio.mobile</string>
	<key>PROJECT_ID</key>
	<string>chefio-87dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>chefio-87dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780658103488:ios:ecc232de0aced543588925</string>
</dict>
</plist>